:root {
  --pink: #e215ef;
  --pink-hover: #cb13d7;
  --blue: #15afef;
  --blue-hover: #139dd6;
  --orange: #ef7215;
  --orange-hover: #d76613;
  --green: #24d84e;
  --green-hover: #20c246;
  --purple: #8d4cf8;
  --purple-hover: #7f44df;

  --txt-1: #FFF;
  --txt-2: #999;
  --txt-2-hover: #AAA;
  --txt-3: #444;
  --bg-1: #111;
  --bg-2: #222;
  --bg-2-hover: #292929;
  --bg-2-variant: #191919;
  --bg-3: #333;
  --bg-3-hover: #393939;
  --bg-4: #444;
}

.light-mode {
  --txt-1: #000;
  --txt-2: #555;
  --txt-2-hover: #444;
  --txt-3: #999;
  --bg-1: #cde1ed;
  --bg-2: #FFF;
  --bg-2-hover: #f7fafc;
  --bg-2-variant: #eef5f9;
  --bg-3: #e3eef5;
  --bg-3-hover: #d7e7f1;
  --bg-4: #c1dae9;
}


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Typography */
a {
  text-decoration: none;
}

/* Layout */

body {
    background-color: var(--bg-1);
    color: var(--txt-1);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Header */

.main-header {
  width: 100svw;
    background: var(--bg-3);
    color: var(--txt-1);
    text-align: center;
    padding: 0.5em 16px 0.5em 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.large-logo {
  display: flex;
  justify-content: center;
  padding-right: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}

.logo-img {
  width: 24px;
  margin-right: 0.5em;
}

.large-logo-img {
  width: 36px;
  margin-right: 0.75em;
}

.title{
    margin: 0;
    font-size: 1.5em; /* 24 px */
}

.large-title{
  margin: 0;
  font-size: 2.25em; /* 36 px */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  min-width: 48px;
  height: 48px;
  padding: 4px;
  color: var(--txt-2);
  font-size: 1.6rem;
  background: none;
}

.menu-icon:hover {
  color: var(--txt-1);
  background: none;
}

/* Nav-modal */
.nav-modal {
  display: none; /* Flex */
  width: 80svw;
  min-width: 310px;
  max-width: 500px;
  height: 100svh;
  background: var(--bg-3);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 0 40px #111;
  padding: 1em;
}

.nav-modal-close-btn {
  font-size: 1.8rem;
  position: absolute;
  top: 0.2em;
  right: 0.5em;
}

.buy-coffee-wrapper {
  padding: 2em 1.5em 1.5em;
  background: var(--bg-2);
  border-radius: 5px;
}

.buy-coffee-wrapper > p {
  color: var(--txt-2);
  margin-block: 0.8em;
  line-height: 1.4;
}

.buy-coffee-btn {
  font-size: 1.2rem;
  padding: 0.5em 2em;
}

/* Logged out view */
.container {
  width: 70svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-input {
  width: 100%;
  background: var(--bg-2);
  color: var(--txt-1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1em;
}

.primary-btn, .provider-btn,
.auth-input {
  height: 48px;
}

.provider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 2em;
}

.primary-btn {
  background: var(--orange);
  margin: 0 0 1em;
}

.secondary-btn,
.provider-btn {
  width: 100%;
  color: var(--txt-2);
  background: var(--bg-3);
}

.secondary-btn:hover,
.provider-btn:hover {
  background: var(--bg-3-hover);
}

.google-btn-logo {
  width: 1.375em;
}

.secondary-btn {
  margin-bottom: 2em;
}

.error-wrapper {
  height: 50px;
}

.error-message {
  color: var(--txt-2);
  text-align: center;
}


/* Main */

main {
    padding: 0 20px;
    padding-bottom: 60px;
    max-width: 800px;
    margin: 20px auto;
    flex: 1;
}

/* === User Section === */

.user-section {
  margin: auto;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  margin-bottom: 0.5em;
  padding: 0.5em 1em 0.5em 0;
  border-radius: 5px;
  position: relative;
}

.user-section:hover {
  background: var(--bg-2);
  cursor: pointer;
}

.user-section-text > h2 {
  font-size: 1rem;
}

.user-section-text > p {
  color: var(--txt-2);
}

.user-section img {
  width: 3.75em;
  height: 3.75em;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  background: var(--bg-3);
}

.user-section-edit-icon {
  position: absolute;
  font-size: 1.2rem;
  top: 0.5em;
  right: 0.5em;
  color: var(--txt-2);
  opacity: 0;
}

.user-section:hover > .user-section-edit-icon {
  opacity: 1;
}

/* User edit */
.user-section-edit {
  padding: 20px;
  background: var(--bg-2);
  margin-bottom: 0.5em;
}

.user-section-edit > .secondary-btn {
  margin: 0;
}

/* === Calendar === */

.calendar {
  position: relative;
  background: var(--bg-2);
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em 1em 2em;
}

.calendar-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0 1em;
  border-radius: 5px 5px 0 0;
}

.prev-next-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.prev-next-icon:hover {
  background: var(--bg-4);
}

.current-date { /* Month Year */
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.weeks {
  font-size: 0.8rem;
  font-weight: 600;
}

.weeks, 
.days {
  display: flex;
  flex-wrap: wrap;
}

.weeks li, 
.days li {
  display: flex;
  width: calc(100% / 7);
  padding: 0;
  justify-content: center;
  text-align: center;
  border-radius: 0;
  background: none;
}

.days li {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 50px;
  margin-top: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.days li .ticks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  pointer-events: none;
}

.tick {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bg-4);
  pointer-events: none;
}

.tick-pink {
  background: var(--pink);
}

.tick-blue {
  background: var(--blue);
}

.tick-orange {
  background: var(--orange);
}

.tick-green {
  background: var(--green);
}

.tick-purple {
  background: var(--purple);
}

.tick-inactive {
  background: var(--bg-4);
}

.date-wrapper {
  position: relative;
  pointer-events: none;
}

.days li .date-wrapper::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.days li:hover .date-wrapper::before {
  background: var(--bg-4);
}

.days li.inactive {
  color: var(--txt-2);
}

.days li.active {
  color: #FFF;
}

.days li.active .date-wrapper::before {
  background: var(--orange);
}

/* Calendar modal */
.calendar-modal {
  display: none; /* block */
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--bg-2-variant);
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 1;
}

.calendar-modal header {
  padding: 2em 0 1em;
  text-align: center;
  background: var(--bg-2);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.calendar-modal header h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.calendar-modal header:hover {
  background: var(--bg-2-hover);
}

/* Habits */
.habit-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
}

.habit { /* Habits */
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--bg-2);
  margin-bottom: 10px;
  border-radius: 5px;
}

.habit-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  padding-right: 1em;
  border-radius: 5px;
}

.habit-name {
  padding: 0.5em 1em;
  height: 100%;
  width: 100%;
}

.habit-name:hover {
  background: var(--bg-2-hover);
}

.habit-header input {
  width: 100px;
  padding: 10px;
  color: var(--txt-1);
  background: var(--bg-3);
  border: none;
  border-radius: 5px;
}

.habit h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.habit h3,
.habit-frequency,
.habit-tracking {
  text-transform: capitalize;
}

.habit .edit-btn,
.delete-all-habits-btn,
.close-warning-modal-btn {
  color: var(--txt-2);
  background: var(--bg-3);
}

.habit .edit-btn:hover,
.delete-all-habits-btn:hover,
.close-warning-modal-btn:hover {
  color: var(--txt-2);
  background: var(--bg-3-hover);
}

.habit .delete-btn {
  color: var(--txt-2);
  background: none;
}

.habit .delete-btn:hover {
  color: var(--txt-2-hover);
  background: none;
}

.habit-details {
  width: 100%;
  display: none; /* grid */
  grid-template-columns: 1fr 1fr;
  background: var(--bg-2-variant);
  padding: 0 1em;
}

.habit-details h4 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--txt-2);
  margin-top: 1em;
}

/* Habit colors */

.pink button {
  background: var(--pink);
}

.pink button:hover {
  background: var(--pink-hover);
}

.blue button {
  background: var(--blue);
}

.blue button:hover {
  background: var(--blue-hover);
}

.orange button {
  background: var(--orange);
}

.orange button:hover {
  background: var(--orange-hover);
}

.green button {
  background: var(--green);
}

.green button:hover {
  background: var(--green-hover);
}

.purple button {
  background: var(--purple);
}

.purple button:hover {
  background: var(--purple-hover);
}

/* Buttons */

button {
    display: inline-block;
    background: var(--orange);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: var(--orange-hover);
}

.close-warning-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

/* Message */
.max-message,
.exists-message {
  display: none; /* inline */
  margin-left: 8px;
  color: var(--txt-1);
  background: var(--bg-3);
  padding: 10px 20px;
  border-radius: 5px;
}

#habit-form {
    background: var(--bg-2);
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

input[type='text'],
form select {
    color: var(--txt-1);
    background: var(--bg-3);
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

form textarea {
  color: var(--txt-1);
  background: var(--bg-3);
  width: 100%;
  padding: 8px;
  border: none;
  resize: none;
}

.color-picker {
  display: flex;
  gap: 0.5em;
}

.color-btn {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.color-btn:hover {
  transform: scale(1.2);
}

#color-1 {
  background-color: var(--pink);
}

#color-2 {
  background-color: var(--blue);
}

#color-3 {
  background-color: var(--orange);
}

#color-4 {
  background-color: var(--green);
}

#color-5 {
  background-color: var(--purple);
}

.selected-color {
  transform: scale(1.2);
  opacity: 1;
}

.unselected-color {
  transform: scale(1);
  opacity: 0.5;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-3);
    color: var(--txt-2);
    text-align: center;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    clear: both;
}

.content-wrapper {
  position: relative;
  min-height: 100svh;
}

/* Warning modal */
.warning-modal {
  position: relative;
  display: none; /* flex */
  color: var(--txt-1);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em 1em 1em;
  background: var(--bg-2);
  gap: 0.5em;
  border-radius: 5px;
  margin-bottom: 1em;
}

/* */
.hide {
  display: none
}

.showFlex {
  display: flex
}

.showBlock {
  display: block
}

.bold {
  font-weight: 600;
}

.grey {
  color: var(--txt-2);
}

.dark-grey {
  color: var(--bg-4);
}

.inline {
  display: inline;
}

.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.large-icon {
  font-size: 2rem;
}

.span-2 {
  grid-column: 1 / span 2;
}

.margin-top {
  margin-top: 8px;
}

.grid {
  display: grid;
}

.full-width {
  width: 100%;
}

/* IDs */
#logged-out-view {
  display: none;
}

#logged-in-view {
  display: none;
}